
# Temporary holds: Lecture

# Temporary holds: Projects
projects/past/*

# Project-specific files
*/inclass-000/data*
exam/data/yelp_academic_dataset_business.json
exam/submissions

# Data
projects/project-004/digits/train.csv
projects/project-004/digits/test.csv
projects/project-004/digits/sample_submission.csv

# History files
.Rhistory
*.Rhistory
.Rapp.history

# Session Data files
.RData
*.RData
*.rdb

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*.Rproj.user/
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Dropbox
.DS_Store
*/.DS_Store